{% extends 'base.html' %}
{% block title %}Show Stop{% endblock %}

{% block body %}
<h1 class="pink-txt">Please complete your user registration by filling in the below information:</h1>
<form action="/users" method="POST" class="yellow-txt">
    <h2>Name:</h2>
        <input name="name">
    <h2>User Name:</h2>
        <input name="user_name">
    <h2>Email Address:</h2>
        <input name="email">
    <h2>Password:</h2>
    <input type="password" id="password" name="password">

    <input type="submit" value="Sign up">
</form>
<div id="Your password is incorrect, try again"></div>
{% endblock %}