{% extends 'base.html' %}
{% block title %}Show Stop{% endblock %}

{% block body %}
  <h1>Welcome to Show Stop.</h1>
  <h3>A one stop shop to find concerts in San Francisco across all musical genres!</h3>
  <h3>From heavy metal, to pop, Show Stop has you covered.</h3>
  <br>
  <h2>Click <a href='/registration'>here</a> to create an Account to Save Your Searches:</h2>
  
  <br>
  <h2>No account? No problem!</h2>
  <h3>Click <a href='/search'>here</a> to begin your search!</h3>
  <br>
  <h2>Log In:</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email"> 
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
    <br>
  </form>

  

{% endblock %} 