{% extends 'base.html' %}
{% block title %}Show Stop{% endblock %}

{% block body %}
<h1>Fill out the below information to search</h1>
<h2>Select Genre</h2>
<form action="/search_info" method="POST">
    <select name="genre">
        <option value="pop">
            Pop
        </option>
        <option value="rock">
            Rock
        </option>
        <option value="hip-hop">
            Hip Hop
        </option>
        <option value="metal">
            Metal
        </option>
        <option value="punk">
            Punk
        </option>
        <option value="folk">
            Folk
        </option>
        <option value="country">
            Country
        </option>
        <option value="electronic dance music">
            Electronic Dance Music
        </option>
        <option value="techno">
            Techno
        </option>
        <option value="grunge">
            Grunge
        </option>
        <option value="new age">
            New Age
        </option>
        
 
        
    </select>
    <label>Start date:</label>
    <input type="date" name="start_date">
    
    <label>End date:</label>
    <input type="date" name="end_date">

    <button type="submit">Search</button>

</form>

{% endblock %}